

<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Customer Welcome</h2>
        <h3 class="section-subheading text-muted">Hello <strong>{{ main.username }}, </strong>This page allows you to shop any product.</h3>
    </div>
</div>
<!-- Heading -->

<div class="row">
 	<div ng-repeat="products in product.items" class="col-sm-6 col-md-3">
        <div class="thumbnail">               
            <a href="#" class="overlay-wrapper">
                <img src="{{ products.imagePath }}" alt="..." class="img-responsive">
                <span class="overlay">
                  <span class="overlay-content"> <span class="h4">Add to Cart</span> </span>
                </span>
            </a>
            <div class="caption">
                <h3>{{ products.title }}</h3>
                <p class="description">{{ products.description }}</p>
                <div class="clearfix">
                    <div class="price pull-left">${{ products.price }}</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>